.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Profile{
  height: 150px;
  width: 150px;
  border: #282c34 solid 2px;
}

.Navigation{
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}


.menu-list{
  height: 150px;
  width: auto;
  list-style: none;
  display: flex;
  justify-items: center;
}
.menu-list li{
  display: inline;
  padding: 20px;
}

.form-element{
  padding: 10px;
}

.Form > button{
  color: white;
  background-color: rgba(65, 65, 209, 0.562);
  border-style: none;
}

.Form > button:hover{
  background-color: rgba(77, 209, 65, 0.562);
}

.Form > input {
  border-style:none;
  border-bottom: black solid 1px;
}

.center{
  display: flex;
  justify-content: center;
}
/* 
.imageContainer{
  display: block;
  margin-right: auto;
  margin-left: auto;
  
}

.ImageView{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.imageContainer{
  margin-top: 20px;
}
.imageContainer > img{
  width: 100%;
  height: auto; 
} */

.imageContainer{
  position: absolute;
  margin-top: 30px;
}


